/* MOBILE */
@media only screen and (max-width: 830px) {
    main#page.small-page {
        width: initial !important;
    }
}

main#page, div#notice-page {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 3rem;
}

main#page.small-page, div#notice-page.small-page {
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#page-title:not(:has(.page-title-accent)) {
    text-shadow: 0 4px 13px var(--page-accent);
}

#page-title .page-title-accent {
    text-shadow: 0 4px 13px var(--page-accent);
}

#page-title.font-size-lg {
    font-size: 7.5rem;
}

.avatar-image {
    width: 100px;
    border-radius: 100%;
    background: #1a1a1a;
    padding: 5px;
}

.text-quote {
    border-left: 10px solid #1a1a1a;
    border-radius: 5px;
    padding-left: 10px;
}

small {
    font-size: 0.8rem;
    color: var(--bs-secondary-color) !important;
}

.list-card .card {
    text-decoration: none;
    transition: box-shadow 1s;
}

.list-card .card:hover {
    box-shadow: 0 4px 20px 1px #007bff2e;
    border-color: var(--blue);
}